<app-nav></app-nav>
<app-products></app-products>

<!--
<p><input type="text" [(ngModel)]="imgParent" ></p>
<button (click)="toggleImg()">Toogle Img</button>
<p>{{ showImg }}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr/>
-->