<app-img [img]="product.image"></app-img>
<h2>{{ product.price | currency:'EUR' }}</h2>
<p>{{ product.title | reverse }}</p>
<p appHighlight>{{ product.description }}</p>
<button (click)="onAddToCart()">Add cart</button>